@tailwind base;
@tailwind components;
@tailwind utilities;

ul.errorlist {
    display: none;
}

.square_login {
    text-align: center;
    border-radius: 1rem;
    border-style: solid;
}

.square_button {
    position: absolute;
    justify-self: right;
    left: 80%;
    top: 40%;
}

.button_screen {
    width: 100%;
    cursor: pointer;
}

.square {
    width: 30%;
    height: 30%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: slategrey;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: slategrey;
    border-radius: 1rem;
    cursor: pointer;
}

.square:hover {
    border-color: white;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}


.square_input {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    font-size: 1.875rem
        /* 30px */
    ;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    /*cursor: default;*/
    box-sizing: border-box;
    background-color: white;
    margin: 0em;
    padding: 5px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: black;
    border-image: initial;
    /*button definition over*/
    width: 30%;
    height: 30%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 1rem;
}


.square_input_manage {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    font-size: 1.875rem
        /* 30px */
    ;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: white;
    margin: 0em;
    border-width: 2px;
    border-style: outset;
    border-color: black;
    border-image: initial;
    /*button definition over*/
    width: 50%;
    height: max(5%, 10px);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding-top: max(2%, 20px);
    padding-bottom: max(2%, 20px);
    background-color: white;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 1rem;
}

.xlsx_parent {
    resize: vertical;
    max-height: max-content;
    overflow-x: scroll;
    height: fit-content;
}

.xlsx {
    width: 100%;
    overflow: visible;
    box-sizing: border-box;
}


.form_fit {
    display: contents;
}

.buttonfield {
    display: contents;
}