{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class="font-sans mx-0 my-0">
    <div class="relative min-h-screen flex bg-white">
        <!--sidebar-->
        <div class="text-white items-center top-0 bg-slate-200 w-72 space-y-6">
            {% load static %}
            <img class="w-64 h-64 m-[16px] " src="{% static 'hse_logo.svg' %}" alt="HSE Logo">
            <nav class="text-center font-extrabold space-y-6 text-inherit">
            </nav>
        </div>
            <!--content, forms, etc-->
            <div class="flex-1 text-center justify-center">
<h1 class="font-sans text-5xl font-bold">Change your account password:</h1>
{%if failed_login%}
<p class="text-2xl text-red-500"> Sorry, passwords did not match.</p>
{%endif%}
<form class="text-center" action="/login/" method="post">
    {% csrf_token %}
    <div class="text-center">
        {{form.as_p}}
    </div>
    <button class="text-center scale-125 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" type="submit" value="OK">Submit</button>
</form>
</body>