<!DOCTYPE html>
<html lang="en">
<body>
<h1>Yandex.Contest Data Retrieval</h1>
{%if changes_saved%}
<p style="color:green;"> Data retrieval Successful.</p>

<form action={{ pathcsv }} method="post">
    {% csrf_token %}
    <button type="submit" value="OK">Get .csv</button>
</form>
<form action={{ pathjson }} method="post">
    {% csrf_token %}
    <button type="submit" value="OK">Get .json</button>
</form>
{%endif%}
{%if relog_needed%}
<p style="color:red;"> Logged out from Yandex Contest. Please relogin!</p>
{%endif%}
{%if crash%}
<p style="color:red;"> Something went wrong! Please verify your credentials.</p>
{%endif%}
<form action="/credentials/" method="post">
    {% csrf_token %}
    {{ form_credentials }}
    <button type="submit" value="OK">Save</button>
</form>
</body>
