{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<style>
    p {
        text-align: center;
        padding-left: 40px;
        padding-right: 40px
    }
</style>

<body class="font-sans mx-0 my-0">
    <div class="relative min-h-screen flex bg-white">
        <!--sidebar-->
        <div class="text-white items-center top-0 bg-slate-200 w-72 space-y-6">
            {% load static %}

            <img class="w-64 h-64 m-[16px] " src="{% static 'hse_logo.svg' %}" alt="HSE Logo">
            <nav class="relative text-center font-extrabold space-y-6 text-inherit">
                <a href="/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Home</a>
                <a href="/work/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Dashboard</a>

                <a href="/credentials/"
                    class="-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Credentials</a>
                <a href="/account/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Account</a>
                <a href="/logout/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Log
                    Out</a>
            </nav>
        </div>
    <!--content, forms, etc-->
    <div class="static w-0 overflow-x-auto max-h-screen flex-1">
        <div class="static flex-1 text-center justify-center">
            <h1 class="font-sans text-5xl font-bold mb-10">How to get Stepik Client ID and Stepik Client Secret?
            </h1>
            <p class="text-2xl text-center px-10"><strong>Stepik Client ID</strong> and <strong>Stepik Client
                    Secret</strong> are special values that the Stepik Platform uses in order to authenticate
                applications like this one. In order to be able to utilize the Stepik related features of the app
                you’ll need to request them first.</p>
            <h1 class="font-sans text-5xl font-bold mb-10">How to get the Keys</h1>
            <ol class="text-2xl text-left pl-60 mb-[80px]">
                <li>Log in to a Stepik website and then follow this link: <a
                        href="https://stepik.org/oauth2/applications/register/">https://stepik.org/oauth2/applications/register/</a>
                </li>
                <img class="inline-block text-[0px] scale-75 text-center content-center" src="{% static 'explain1.png' %}" alt="Figure 1">
                <li>Once there you’ll need to specify a specific name for your application (it doesn’t really matter
                    what does this field say for the purposes of using this application).</li>
                <li>For the <strong>Client Type</strong>, select <strong>Confidential</strong>.</li>
                <li>For the <strong>Client Type</strong>, select <strong>client-credentials</strong>.</li>
                <img class="inline-block text-[0px] scale-75 text-center content-center" src="{% static 'explain2.png' %}" alt="Figure 2">
                <li>Press Save.</li>
                <li>Once complete, copy the <strong>Client ID</strong> and the <strong>Client Secret</strong> fields
                    into the form on the <a href="/credentials/">Credentials Page</a>.</li>
            </ol>
        </div>
    </div>

</body>