{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="font-sans mx-0 my-0">
    <div class="relative min-h-screen flex bg-white">
        <!--sidebar-->
        <div class="text-white items-center top-0 bg-slate-200 w-72 space-y-6">
            {% load static %}

            <img class="w-64 h-64 m-[16px] " src="{% static 'hse_logo.svg' %}" alt="HSE Logo">
            <nav class="relative text-center font-extrabold space-y-6 text-inherit">
                <a href="/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Home</a>
                <a href="/work/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Dashboard</a>

                <a href="/credentials/"
                    class="z-10 font-mono text-2xl no-underline block py-2 px-4 text-black bg-white border-solid  border-y-4 border-x-0">Credentials</a>
                <a href="/account/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Account</a>
                <a href="/logout/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Log
                    Out</a>
            </nav>
        </div>
        <!--content, forms, etc-->
        <div class="static w-0 overflow-x-auto max-h-screen flex-1">
            <div class="static flex-1 text-center justify-center">
                <h1 class="font-sans text-5xl font-bold mb-3">Add or Edit Login Info</h1>
                <form class="flex text-center justify-center space-x-4 mb-4" action="/credentials/" method="post"
                    autocomplete="off" id="credform">
                    {% csrf_token %}
                    <div class="text-center">
                        <p>
                            {{form.ya_l}}</p>
                        <p>{{form.ya_p}}</p>
                    </div>
                    <div class="text-center">
                        <p>{{form.step_id}}</p>
                        <p>{{form.step_api}}</p>
                    </div>

                </form>
                <button
                    class="text-center scale-125 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
                    form="credform" type="submit" value="OK">Submit</button>
                <p><a class="text-2xl" href="/credentials/about/">What are Stepik Client ID and Secret?</a></p>
                {%if isLookup%}
                {%if ya_l%}
                <p class="font-sans text-xl font-bold">Your Yandex Login is: {{ya_l}}</p>
                {%endif%}

                {%if step_id%}

                <p class="font-sans text-xl font-bold">Your Stepik ID is: {{step_id}}</p>
                {%endif%}
                {%endif%}
            </div>
        </div>
</body>