{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="overflow-hidden font-sans h-screen mx-0 my-0">
    <div class="relative min-h-screen flex bg-white">
        <!--sidebar-->
        <div class="text-white items-center top-0 bg-slate-200 w-72 space-y-6">
            {% load static %}
            <img class="w-64 h-64 m-[16px] " src="{% static 'hse_logo.svg' %}" alt="HSE Logo">
            <nav class="text-center font-extrabold space-y-6 text-inherit">
                <a href="/"
                    class="font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Home</a>
                <a href="/work/"
                    class="font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Dashboard</a>
                <a href="/credentials/"
                    class="font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Credentials</a>
            </nav>
        </div>
        <!--content, forms, etc-->
        <div class="relative max-h-screen flex-1">
            <div class="static flex-1 text-center justify-center">
            <h1 class="font-sans text-5xl underline font-bold">
                You're in discipline {{d_name}}!
            </h1>
            <p class="text-2xl"> Select the group you'd like to work on today.</p>
        </div>
        <div class="overflow-y-auto max-h-screen text-center py-3 px-5 mb-64 bg-white">
                <!--
                <button class="square rounded-2xl text-3xl text-white">Я</button>
                  <button class="square rounded-2xl text-3xl text-white">ебал</button>
                  <button class="square rounded-2xl text-3xl text-white">э</button>
                  //-->
                {% for item in lookup %}
                <button class="square rounded-2xl text-3xl text-white"
                    onclick="window.location.href='/work/{{ item.d_id }}/{{item.g_number}}/';">{{ item.g_number}}</button>
                {% endfor %}
                <button class="square rounded-2xl text-3xl text-white"
                    onclick="window.location.href='/work/{{ d_id }}/new/';">+</button>
                    <p class="text-white h-60"></p>
            </div>
            <div class="absolute inset-x-0 bottom-0">
                <button
                class="absolute inset-x-0 bottom-0 snap-end button_screen text-center text-2xl h-16 bg-slate-500 text-white font-3xl py-2 rounded-none rounded-t-md border-solid border-x-0 border-t-8 hover:border-t-[10px] border-b-0 border-white"
                    onclick="window.location.href='/work/{{ d_id }}/manage/';">Manage Groups
                </button>
            </div>
        </div>

    </div>
    </div>

</body>

</html>