{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="overflow-hidden font-sans h-screen mx-0 my-0">
    <div class="relative min-h-screen flex bg-white">
        <!--sidebar-->
        <div class="text-white items-center top-0 bg-slate-200 w-72 h-screen space-y-6">
            {% load static %}
            <img class="w-64 h-64 m-[16px] " src="{% static 'hse_logo.svg' %}" alt="HSE Logo">
            <nav class="relative text-center font-extrabold space-y-6 text-inherit">
                <a href="/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Home</a>
                <a href="/work/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Dashboard</a>
                <a href="/credentials/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Credentials</a>
                <a href="/logout/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Log
                    Out</a>
            </nav>
        </div>
        <!--content, forms, etc-->
        <div class="static w-0 overflow-x-auto max-h-screen flex-1">
            <div class="static flex-1 text-center justify-center">
                <h1 class="font-sans text-5xl underline font-bold">
                    You're in group {{g_number}}!
                </h1>
                <button
                    class="text-center scale-125 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full"
                    onclick="window.location.href='/work/{{d_id}}/';">Go Back</button>
                <p class="text-2xl"></p>
                <div class="flex justify-center">
                    <div class="xlsx_parent text-2xl border-solid border-2 border-black mb-10" id="xlsxdiv">
                        {{xlsx|safe}}
                        <!--таблицер-->
                    </div>
                </div>
                <div class="flex space-x-20  justify-center mb-7">
                    <button
                        class="text-center scale-125 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full">Import
                        Data
                    </button>
                    <button
                        class="text-center scale-125 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full">Add
                        Empty Columns
                    </button>
                    <button
                        class="text-center scale-125 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full">Update
                        Table Entries
                    </button>
                </div>
                <h1 class="font-sans text-3xl underline font-bold mt-10">
                    Student names that are to be updated in the table:
                </h1>
                <button
                class="text-center scale-125 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mb-5 rounded-full"
                onclick="window.location.href='/work/{{d_id}}/{{g_number}}/students/';">Edit Students
            </button>
                <div class="flex justify-center">
                <table class="border-spacing-0 border-solid border-4 text-2xl">
                    <tr>
                        <th class="border-solid border-[1px] min-w-[170px]">Display Name</th>
                        <th class="border-solid border-[1px] min-w-[170px]">Yandex Name</th>
                        <th class="border-solid border-[1px] min-w-[170px]">Stepik Name</th>
                    </tr>
                    {% for st in l %}
                    <tr>
                        {% for name in st%}
                        <td class="border-solid border-[1px] min-w-[170px]">
                            {{name}}
                        </td>
                        {%endfor%}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            </div>
        </div>
        <script>
            const container = document.querySelector('.xlsx_parent');
            const content = container.querySelector('.xlsx');
            const resizeObserver = new ResizeObserver(event => {
                const maxHeight = parseInt(window.getComputedStyle(content).height.replace('px', ''), 10) + 17;
                //console.log(maxHeight);
                maxHeight.toString();
                const containerHeight = event[0].contentRect.height;
                resizeObserver.disconnect();
                if (containerHeight > maxHeight) {
                    container.style.height = maxHeight + 'px';
                }
                requestAnimationFrame(() => resizeObserver.observe(container));
            });
            resizeObserver.observe(container);
        </script>
</body>

</html>