{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="overflow-hidden font-sans h-screen mx-0 my-0">
    <div class="relative min-h-screen flex bg-white">
        <!--sidebar-->
        <div class="text-white items-center top-0 bg-slate-200 w-72 h-screen space-y-6">
            {% load static %}
            <img class="w-64 h-64 m-[16px] " src="{% static 'hse_logo.svg' %}" alt="HSE Logo">
            <nav class="text-center font-extrabold space-y-6 text-inherit">
                <a href="/"
                    class="font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Home</a>
                <a href="/work/"
                    class="font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Dashboard</a>
                <a href="/credentials/"
                    class="font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Credentials</a>
            </nav>
        </div>
        <!--content, forms, etc-->
        <div class="static w-0 overflow-x-auto max-h-screen flex-1">
            <div class="static flex-1 text-center justify-center">
                <h1 class="font-sans text-5xl underline font-bold">
                    You're in group {{g_number}}!
                </h1>
                <button
                    class="text-center scale-125 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full"
                    onclick="window.location.href='/work/{{d_id}}/';">Go Back</button>
                <p class="text-2xl">Select from where you want to retrieve data:</p>
                <div class="flex space-x-20  justify-center mb-7">
                    <button
                        class="text-center scale-125 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full">
                        <img src="{% static 'stepik.svg' %}" alt="Stepik" style="
                        width: 100px;
                    ">
                    </button>
                    <button
                        class="text-center scale-125 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded-full">
                        <img src="{% static 'yacontest.svg' %}" alt="Stepik" style="
                    width: 100px;
                ">
                    </button>
                </div>
                <div class="flex justify-center">
                    <div class"overflow-x-" <div class="xlsx_parent border-solid border-2 border-black" id="xlsxdiv">
                        {{xlsx|safe}}
                        <!--таблицер-->
                    </div>
                </div>

            </div>
        </div>
        <script>
            const container = document.querySelector('.xlsx_parent');
            const content = container.querySelector('.xlsx');
            const resizeObserver = new ResizeObserver(event => {
                const maxHeight = parseInt(window.getComputedStyle(content).height.replace('px', ''), 10) + 17;
                //console.log(maxHeight);
                maxHeight.toString();
                const containerHeight = event[0].contentRect.height;
                resizeObserver.disconnect();
                if (containerHeight > maxHeight) {
                    container.style.height = maxHeight + 'px';
                }
                requestAnimationFrame(() => resizeObserver.observe(container));
            });
            resizeObserver.observe(container);
        </script>
</body>

</html>