{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="font-sans mx-0 my-0">
    <div class="relative min-h-screen flex bg-white">
        <!--sidebar-->
        <div class="text-white items-center top-0 bg-slate-200 w-72 space-y-6">
            {% load static %}
            <img class="w-64 h-64 m-[16px] " src="{% static 'hse_logo.svg' %}" alt="HSE Logo">
            <nav class="text-center font-extrabold space-y-6 text-inherit">
                <a href="/" class="font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Home</a>
                <a href="/work/" class="font-mono text-2xl no-underline block py-2 px-4 text-black bg-white border-solid  border-y-4 border-x-0">Dashboard</a>
                <a href="/credentials/" class="font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Credentials</a>
            </nav>
        </div>
    <!--content, forms, etc-->
    <div class="relative text-center justify-center">
        <h1 class="font-sans text-5xl underline font-bold">
            Edit Disciplines
        </h1>
        <!--p class="text-2xl"> Select the discipline you'd like to work on today.</p-->
            <div class=" text-center pt-3 px-5 bg-white">
                <form action="/work/manage/" method="post" class="min-w-full" >
                    {% csrf_token %}
                    {% for field in forml %}
                        {{field}}
                    {%endfor%}
                    <div class="absolute inset-x-0 bottom-0 flex">
                        <button class="button_screen text-center text-2xl h-16 bg-red-500 text-white font-3xl py-2 rounded-none rounded-t-md border-solid border-x-0 border-t-8 border-b-0 border-red-500 hover:border-white" type="button" onclick="window.location.href='/work/';" value="Cancel">Cancel</button>
                        <button class="button_screen text-center text-2xl h-16 bg-blue-500 text-white font-3xl py-2 rounded-none rounded-t-md border-solid border-x-0 border-t-8 border-b-0 border-blue-500 hover:border-white" type="submit" value="OK">Submit</button>
                    </div>
                    </form>
            </div>

</div>

</body>
</html>