{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="font-sans mx-0 my-0">
    <div class="relative min-h-screen flex bg-white">
        <!--sidebar-->
        <div class="text-white items-center top-0 bg-slate-200 w-72 space-y-6">
            {% load static %}
            <img class="w-64 h-64 m-[16px] " src="{% static 'hse_logo.svg' %}" alt="HSE Logo">
            <nav class="relative text-center font-extrabold space-y-6 text-inherit">
                <a href="/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Home</a>
                <a href="/work/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Dashboard</a>
                <a href="/credentials/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Credentials</a>
                    <a href="/logout/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Log
                    Out</a>
                </nav>
        </div>
    <!--content, forms, etc-->
    <div class="flex-1 text-center justify-center">
        <h1 class="font-sans text-5xl underline font-bold">
            Welcome, {{username}}!
        </h1>
        <p class="text-2xl"> Select the discipline you'd like to work on today.</p>
            <div class="text-center pt-3 px-5 bg-white">
                <!--
                <button class="square rounded-2xl text-3xl text-white">Я</button>
                  <button class="square rounded-2xl text-3xl text-white">ебал</button>
                  <button class="square rounded-2xl text-3xl text-white">э</button>
                  //-->
                  {% for item in lookup %}
                    <button class="square rounded-2xl text-3xl text-white" onclick="window.location.href='/work/{{ item.d_id }}/';">{{ item.d_name }}</button>
                  {% endfor %}
                    <button class="square rounded-2xl text-3xl text-white" onclick="window.location.href='/work/new/';">+</button>
                </div>
              
    </div>
</div>

</body>
</html>