{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="overflow-hidden font-sans h-screen mx-0 my-0">
    <div class="relative min-h-screen flex bg-white">
        <!--sidebar-->
        <div class="text-white items-center top-0 bg-slate-200 w-72 space-y-6">
            {% load static %}
            <img class="w-64 h-64 m-[16px] " src="{% static 'hse_logo.svg' %}" alt="HSE Logo">
            <nav class="relative text-center font-extrabold space-y-6 text-inherit">
                <a href="/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Home</a>
                <a href="/work/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Dashboard</a>
                    <a href="/credentials/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Credentials</a>
                <a href="/account/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Account</a>
                    <a href="/logout/"
                    class="z-10 font-mono text-2xl no-underline block py-2.5 px-4 hover:py-[7px] text-black bg-white border-solid border-y-0 hover:border-y-4 border-x-0 transition-all ease-in-out">Log
                    Out</a>
                </nav>
        </div>
        <!--content, forms, etc-->
        <div class="relative max-h-screen flex-1">
            <div class="static flex-1 text-center justify-center">
                <h1 class="font-sans text-5xl font-bold">
                    Edit Disciplines
                </h1>
            </div>
            <!--p class="text-2xl"> Select the discipline you'd like to work on today.</p-->
            <div class="justify-end max-h-screen text-center py-3 px-5 bg-white">
                <form action="/work/manage/" method="post" id="disciplineedit"
                    class="overflow-y-auto max-h-screen justify-center">
                    {% csrf_token %}
                    {% for field in forml %}
                    <div class="">
                        {{field}}
                        <button
                            class="text-center ml-8 text-2xl bg-red-500 hover:bg-red-700 text-white font-bold py-4 px-4 rounded-full"
                            onclick="window.location.href='/work/delete/{{name_uuid|get_value:field.value}}/';"
                            type="button" value="OK">Delete</button>
                    </div>
                    {%endfor%}
                    <p class="text-white h-56"></p>
                </form>
            </div>
            <div class="absolute inset-x-0 bottom-0 flex">
                <button
                    class="button_screen text-center text-2xl h-16 bg-red-500 text-white font-3xl py-2 rounded-none rounded-t-md border-solid border-x-0 border-t-8 border-b-0 border-red-500 hover:border-white"
                    type="button" onclick="window.location.href='/work/';" value="Cancel">Go Back</button>
                <button
                    class="button_screen text-center text-2xl h-16 bg-blue-500 text-white font-3xl py-2 rounded-none rounded-t-md border-solid border-x-0 border-t-8 border-b-0 border-blue-500 hover:border-white"
                    form="disciplineedit" type="submit" value="OK">Submit</button>
            </div>
        </div>

    </div>

</body>

</html>